
@import url( style.css);


*{
    margin: 0;
    padding: 0;

}

.area-cadastro{
    background-color: var(--cor-botao);
    margin: 50px auto;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 20px;
}
.area-formulario{
    display: flex;
    justify-content: center;
    width: 60vw;
}

.form-cadastro > div{
    display: flex;
    gap: 30px;
    width: 50vw;
}
.ddd input{
    width: 4vw;
}

#numero{
    width: 4vw;
}
.formatacao div{
    display: flex;
    flex-direction: column;
    flex: 1;
}
#ddd, #numero{
    width: 4vw;
}
#telefone{
      width: 6vw;
}


#cep{ 
    width: 4vw;
}
#senha{
    width: 10vw;
}
input, select{
    width: 100%;
    padding: 10px 0;
}
.area-botao{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#botao-cadastrar{
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    
}
.link-login{
    margin-top: -25px;

}